/* fonts-here */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    /*===== Colors =====*/
    --theme-color: #798402;
    --primary-color: #E1EEDD;
    --secondary-color: #524748;
    --gray-color: #404040;
    --text-color: #9A9A9A;

    /* extra color */
    --white-color: #fff;
    --black-color: #000;
  
    /*===== Font and typography =====*/
    --body-font: 'Source Sans Pro', sans-serif;


    --biggest-font-size: 3.75rem;/*66px*/
    --h1-font-size: 2.75rem;/*44px*/
    --h2-font-size: 2.5rem;/*40px*/
    --h3-font-size: 2.375rem;/*38px*/
    --normal-font-size: 1.25rem;  /*20px*/
    --small-font-size: 1rem; /*16px*/
    --smaller-font-size: .875rem; /*14px*/
  
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

body{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: normal;
    color: var(--text-color);
    line-height: 1.3;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: var(--font-bold);
    line-height: 1.3;
    color: var(--theme-color);
}
p{
    margin: 0 0 15px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
label {
	color: var(--text-color);
	cursor: pointer;
	font-size: 14px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
*::-moz-placeholder {
	color: #B7B7B7;
}

*::placeholder {
	color: #B7B7B7;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
input:focus{
    outline: none;
}
.overlay{
    position: relative;
    z-index: 1;
}
.overlay:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0,0,0, .5);
    z-index: -1;
}
.bg-defult{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.badge {
	background: var(--primary-color);
	font-size: 18px;
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
}
.badge.close-badge {
	background: #FFDFDE;
	color: #FC2018;
}

.container{
    max-width: 1450px;
}

.btn {
    padding: 12px 30px;
    background: var(--theme-color);
    border-radius: 6px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 1;
    border: none;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btn:hover{
    color: var(--theme-color);
    background-color: var(--primary-color);
}
.btn:focus{
    outline: none;
    box-shadow: none;
}

.owl-carousel .owl-nav div:hover{
    background-color: var(--primary-color);
    color: var(--theme-color);
}
.owl-carousel .owl-nav div {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.owl-carousel .owl-nav .owl-next{
    left: auto;
    right: 0px;
}

/* ==========default css end============ */


/* =========css class=========== */


/* header-area */
.header-area{
    height: 66px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
}

.logo-area a{
    display: inline-block;
}
.logo-area a h2{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: 0px;
    line-height: 1;
}


.delivery-area p{
    font-size: var(--small-font-size);
    color: var(--white-color);
    margin-bottom: 0px;
}
.delivery-area p strong{
    font-weight: var(--font-bold);
}
.delivery-area p span {
	margin: 0px 4px;
	font-size: var(--small-font-size);
}

.btn.login-btn{
    background-color: var(--white-color);
    color: var(--theme-color);  
}
.btn.login-btn span{
    margin-right: 8px;
}
.btn.login-btn:hover {
    background-color: var(--primary-color);
    color: var(--theme-color);
}

/* header-area */

/* banner-area */
.banner-area{
    min-height: 640px;
    background-color: var(--primary-color);
    padding: 84px 0px;
}

.banner-content-wrapper h1 {
	font-size: var(--biggest-font-size);
	margin-bottom: 0px;
}
.banner-content-wrapper p{
    font-size: 25px;
    color: var(--gray-color);
}
.banner-form-wrapper {
	max-width: 533px;
	background: #fff;
	border-radius: 6px;
	padding: 18px;
	margin-top: 34px;
}
.banner-form-btns a.btn{
    width: 117px;
    padding: 12px 0px;
}
.banner-form-btns a.btn span {
	position: relative;
	top: -3px;
	margin-right: 4px;
}
.banner-form-btns a.btn.banner-btn{
    width: 117px;
    background-color: var(--primary-color);
    color: var(--theme-color);
}
.banner-form-btns a.btn.banner-btn-transparent{
    background-color: transparent;
    color: var(--gray-color);
}
.banner-form-btns {
	padding-bottom: 18px;
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 18px;
}
.input-area-banner{
    flex: 0 0 auto;
    width: 70%;
    position: relative;
}
.input-area-banner input{
    width: 100%;
    height: 42px;
    border-radius: 6px;
    border: none;
    color: var(--theme-color);
    border: 1px solid #DBDBDB;
    padding-left: 40px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.input-area-banner span{
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--theme-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.banner-food-plate img {
	filter: drop-shadow(0px 0px 7px #666666);
	-webkit-filter: drop-shadow(0px 0px 7px #666666);
}
/* banner-end */

/* offer-area */
.offer-items-wrapper{
    padding: 80px 0px;
}
.offer-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 9px;
}
.offet-text h1{
    font-size: 44px;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--white-color);
    line-height: 1;
}
.offet-text h1 small{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
.offet-text{
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 150px;
    min-height: 70px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 16px;
}
.dish-image {
	border-radius: 16px;
	overflow: hidden;
    margin-bottom: 16px;
}
.remainig-badge {
	background: var(--primary-color);
	padding: 5px 22px;
	border-radius: 6px;
	line-height: 1;
    color: var(--theme-color);
    font-size: 18px;
    font-weight: var(--font-semi-bold);
}
.offer-dish-info h6 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 16px;
	color: var(--gray-color);
}
/* offer-area end*/


/* how workd area */
.how-works-area{
    padding: 65px 0px;
    background-color: var(--primary-color);
}
.section-title h2 {
	margin-bottom: 0px;
}
.section-title {
	margin-bottom: 50px;
}
.works-icon {
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}
.works-icon img {
	max-height: 110px;
}
.works-content h6 {
	font-size: var(--normal-font-size);
	color: var(--gray-color);
	margin-bottom: 8px;
}
.works-content p {
    color: #959795;
}
.works-content {
	padding: 0px 12px;
}
/* how workd area end */

/* popular items-area */
.popular-items{
    padding: 78px 0px;
}
.popular-img img {
	max-height: 265px;
	max-width: 265px;
	border-radius: 16px;
	margin-bottom: 10px;
}
.popular-text h6 {
	font-size: 20px;
	font-weight: var(--font-semi-bold);
	margin-bottom: 6px;
    color: var(--black-color);
}
.popular-text p {
	color: var(--theme-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 6px;
}
.popular-text span.price{
    color: var(--black-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}
.popular-text p span{
    margin-right: 9px;
}
.btn.order-btn {
	width: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	margin-top: 12px;
}

.popular-items-slider-active .owl-nav div {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.popular-items-slider-active .owl-nav .owl-next{
    left: auto;
    right: -60px;
}

/* popular items-area_End */


/* featured-items-area */
.features-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 64px 8px;
}

.featured-item-img img {
	max-width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 16px;
	margin-bottom: 10px;
}
.shop-logo {
	height: 64px;
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0,0,0, .14);
	border-radius: 8px;
	margin-right: 15px;
}
.shop-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}   
.shop-text a {
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--theme-color);
	display: block;
	margin-bottom: 5px;
}
.shop-text p{
    font-size: 14px;
    color: #FED42D;
    margin-bottom: 0px;
    font-weight: var(--font-semi-bold);
}
.shop-text p span {
	margin-right: 4px;
}
.shop-info {
	margin-bottom: 16px;
}
.view-more-area{
    margin-top: 60px;
}
.btn.view-more-btn{
    border-radius: 0px;
    width: 170px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.btn.view-more-btn span{
    margin-left: 10px;
}
.btn.view-more-btn span {
	margin-left: 7px;
	font-size: 17px;
	position: relative;
	top: 1px;
}
/* featured-items-area_end */


/* search-area */

.search-food-area{
    padding: 78px 0px;
}
.area-title h2{
    margin-bottom: 0px;
}
.right-view-all a{
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    color: var(--theme-color);
}  
.right-view-all {
	flex: 0 0 auto;
	width: 15%;
}
.right-view-all a span{
   margin-left: 10px;
}   
.section-title-wrapper{
    margin-bottom: 66px;
}

.search-food-img {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 12px;
}
.search-food-img img{
    max-width: 216px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.search-text a{
    font-size: var(--normal-font-size);
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
}

.search-products-active.owl-carousel .owl-nav div {
	right: 52px;
	top: -108px;
	left: auto;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
}
.search-products-active.owl-carousel .owl-nav .owl-next{
    right: 0;
    left: auto;
}


/* search-area_End */

/* app-feature */
.app-feature {
	background-color: #F0F6EE;
    z-index: 1;
}
.app-feature-bottom-shape {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: -1;
}
/* .mobile-app img {
	filter: drop-shadow(0px 0px 5px #666666);
	-webkit-filter: drop-shadow(0px 0px 5px #666666);
} */
.app-feature-weap {
	margin-top: 120px;
	margin-bottom: 113px;
	align-items: center;
	background: #E1EEDD;
	padding: 22px 75px;
	border-radius: 16px;
	box-shadow: 0px 2px 6px rgba(0,0,0, .2);
}
.feature-icon {
	flex: 0 0 auto;
	width: 135px;
	text-align: center;
}
.feature-text h4 {
	font-size: 34px;
	line-height: 1.2;
	margin-bottom: 0px;
	font-weight: var(--font-bold)
}
.download-text {
	margin-top: 100px;
	max-width: 400px;
	margin-bottom: 100px;
}
.download-text p{
	font-size: var(--small-font-size);
}
.download-text h3 {
	margin-bottom: 4px;
}
.app-download-btns {
	display: flex;
	align-items: center;
}
.app-download-btns a{
	margin-right: 9px;
}
/* app-feature */



/* cta-area */
.cta-area {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 306px;
	display: flex;
	align-items: center;
	background-color: #EFF5ED;
}
.cta-content {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}
.order-procid-btn {
	margin-top: 75px;
}
.btn.procide-btn {
	width: 230px;
	border-radius: 0px;
	text-transform: uppercase;
}
.btn.procide-btn span {
	margin-left: 5px;
	font-size: 17px;
	position: relative;
}
/* cta-area */




/* footer-area */
.footer-area{
    background-color: var(--theme-color);
    padding-top: 85px;
}
.top-city-wrapper h5{
    font-weight: var(--font-semi-bold);
    color: var(--white-color);
    font-size: 18px
}
.top-city-wrapp {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    margin-bottom: 58px;
}
.single-city-wrap ul li a{
    color: var(--white-color);
    display: block;
    padding: 5px 0px;
    line-height: 1;
}
.single-city-wrap ul li a:hover{
   text-decoration: underline;
}


.footer-menu h5 {
	color: var(--white-color);
	font-size: 18px;
	margin-bottom: 10px;
    font-weight: var(--font-semi-bold);
}
.footer-menu ul li a{
    color: var(--white-color);
    display: block;
    padding: 5px 0px;
}
.footer-menu ul li a:hover {
	text-decoration: underline;
}
.footer-menus{
    padding-bottom: 50px;
}

.follow-us h5 {
	color: var(--white-color);
	font-weight: var(--font-semi-bold);
	font-size: 18px;
	margin-bottom: 12px;
}
.follow-us h4{
    font-size: 28px;
    color: var(--white-color);
    color: var(--white-color);
}
.email-enput{
    flex: 0 0 auto;
    width: 63%;
}
.email-enput input {
	width: 100%;
	height: 42px;
	border: none;
	padding-left: 38px;
	color: var(--white-color);
	font-weight: var(--font-semi-bold);
	background-color: #A1A94F;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.email-enput input::placeholder{
    color: var(--white-color);
}
.btn.btn-subcribe {
	height: 42px;
	background: var(--white-color);
	color: var(--theme-color);
	width: 144px;
}
.copy-right span{
    color: var(--white-color);
    display: block;
    line-height: 1;
    opacity: 1;
}
.copy-right{
    padding: 32px 0px;
    border-top: 1px solid var(--white-color);
}
.email-enput span {
	position: absolute;
	left: 12px;
	top: 53%;
	transform: translateY(-50%);
	color: #fff;
}
.btn.btn-subcribe:hover {
	background-color: #A1A94F;
	color: #fff;
}
/* footer-area */

/* offcanvas-menu */
.bar {
	color: #fff;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	border-radius: 4px;
	cursor: pointer;
}


/* offcanvas-menu */



/* resturent-filter--------------------------page-2 */
.banner_pesturent{
    height: 618px;
}

.filter-main-wrapper{
    padding: 78px 0px;
}
.banner_pesturent h2{
    font-size: 50px;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}
.filter-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: justify;
    grid-column-gap: 40px;
}
.filter-left-bar{
    min-width: 380px;
    padding-right: 40px;
    border-right: 1px solid rgba(112,112,112, .25);
}

/* results-widgets */
.single-result-widget {
	margin-bottom: 56px;
}
.single-result-widget h5{
    font-size: 22px;
    font-weight: var(--font-bold);
    color: var(--black-color);
    margin-bottom: 30px;
}
.single-result-widget.range-bar-widget h5{
    margin-bottom: 5px;
}
.custom-select input{
    display: none;
}
.custom-select label{
    min-width: 97px;
    height: 38px;
    border: 1px solid var(--theme-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    border-radius: 8px;
    margin-right: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.custom-select input:checked ~ label{
    background-color: var(--theme-color);
    color: var(--white-color);
}
.result-search input {
	width: 100%;
	height: 42px;
	border: none;
	border: 1px solid rgba(112,112,112, .25);
	border-radius: 6px;
	padding-left: 14px;
    color: #B7B7B7;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
}
.categories-list ul li{
    position: relative;
    font-size: 18px;
    font-weight: var(--font-semi-bold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px;
    border-bottom: 1px solid #DBDBDB;
    padding-left: 15px;
}
.categories-list ul li:first-child{
    padding-top: 0px;
}
.categories-list ul li:first-child::after {
	top: 4px;
}
.categories-list ul li::after {
	position: absolute;
	left: 0;
	top: 18px;
	content: "";
	width: 7px;
	height: 16px;
	background-image: url('./assets/img/icons/cat-icon.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.categories-list ul li span.cat-name{
    color: var(--black-color);
}
.categories-list ul li span.cat-posts{
    color: #7F7F7F;
}
a.cat-more{
    color: var(--theme-color);
    font-size: 18px;
    font-weight: var(--font-semi-bold);
    display: inline-block;
    margin-top: 15px    ;
}


.irs--round .irs-line {
	top: 36px;
	height: 6px;
	background-color: #707070;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

.irs--round .irs-bar {
	background-color: #EAEAEA;
}
.irs--round .irs-handle {
	background-color: #798402;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}
.irs--round .irs-bar {
	top: 36px;
	height: 6px;
}

  .irs--round .irs-handle.state_hover,
  .irs--round .irs-handle:hover {
    background-color: #00c2c0;
  }
.irs--round .irs-handle {
	width: 15px;
	height: 20px;
	top: 29px;
	border-radius: 4px;
}
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    background-color: transparent;
    color: #666;
  }
  .irs--round .irs-from:before,
  .irs--round .irs-to:before,
  .irs--round .irs-single:before,
  .irs--round .irs-min,
  .irs--round .irs-max {
    display: none;
  }
.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
	background-color: #798402;
}
.rangslider-value p {
	margin-bottom: 0px;
    font-size: var(--small-font-size);
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
.rangslider-value input {
	width: 100%;
	border: none;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--black-color);
	padding-left: 10px;
}
.rangslider-value input::-webkit-outer-spin-button,
.rangslider-value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rangslider-value input[type=number] {
  -moz-appearance: textfield;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
	display: none;
}
.rangslider-value .single-price-slider {
	position: relative;
	width: 45px;
	margin-left: 4px;
}
.single-price-slider span {
	position: absolute;
	left: 0;
	top: 1px;
	color: var(--black-color);
	font-weight: var(--font-semi-bold);
}
.rangslider-value .single-price-slider::after {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	content: "-";
	color: #000;
	font-weight: 600;
	font-size: 19px;
}
.rangslider-value .single-price-slider:last-child::after {
    display: none;
}
.rangslider-value {
	margin-top: 24px;
}

.btn.reset-btn {
	width: 170px;
	border-radius: 0px;
    height: 42px;
}






/* results-widgets */



/* search-right-content */
.search-result-info p{
    font-size: var(--normal-font-size);
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0px;
}

.result-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 25px;
}

.result-item-img{
    flex: 0 0 auto;
    height: 134px;
    width: 120px;
    margin-right: 12px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0,0,0, .16);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.search-result-info {
	margin-bottom: 30px;
}
.result-item-content h6 {
	font-size: 20px;
	font-weight: var(--font-semi-bold);
	color: var(--black-color);
	margin-bottom: 0px;
}
.result-item-content h6 a{
    color: var(--black-color);
}
.result-item-content span.tags{
    color: #707070;
    font-size: var(--smaller-font-size);
    line-height: 1;
    display: inline-block;
    font-weight: var(--font-semi-bold);
}
.result-item-content ul {
	margin-top: 12px;
	margin-bottom: 9px;
}
.result-item-content ul li {
	font-size: var(--smaller-font-size);
	color: #707070;
	font-weight: var(--font-semi-bold);
	margin-right: 5px;
	position: relative;
	padding-left: 15px;
}
.result-item-content ul li span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #707070;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.result-bottom .badge {
	font-size: var(--smaller-font-size);
	color: var(--theme-color);
	height: 30px;
	display: flex;
	align-items: center;
	width: 100px;
	justify-content: center;
}
.stars-ratings{
    color: #FED42D;
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    line-height: 1;
}
/* search-right-content */

.pagination-area ul li a{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    margin: 0px 8px;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.pagination-area{
    margin-top: 95px;
}
.pagination-area ul li a.active{
    background-color: var(--theme-color);
    color: var(--white-color);
}

/* resturent-filter--------------------------page-2 */

/* resturnt-details-page */
.resturent-details-text h4{
    font-size: 30px;
    font-weight: var(--font-bold);
    color: var(--white-color);
    margin-bottom: 10px;
}
.resturent-stars span {
	color: #FED42D;
}
.space-line {
	color: #fff;
	font-size: 23px;
	line-height: .3;
	margin: 0px 10px;
}
.locations-resturent {
	margin-top: 22px;
    font-size: var(--small-font-size);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}
.locations-resturent span {
	margin-right: 10px;
}
.banner-details-wrapper {
	max-width: 1110px;
}
.over-view-wrapper {
	margin-top: 38px;
}
.over-view-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.over-view-wrap p {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	line-height: 1.8;
}
.over-view-wrap h4 {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.over-view-wrap h4 {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 8px;
}
.over-view-wrap p {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	line-height: 1.8;
}
.over-view-wrap {
	flex: 0 0 auto;
	width: 66%;
}
.share-btns .btn {
	width: 140px;
	height: 40px;
	position: relative;
}
.share-btns .btn span {
	position: relative;
	top: -2px;
	margin-right: 4px;
}
.share-btns .btn {
	width: 140px;
	height: 40px;
	position: relative;
	padding: 0px;
    margin-left: 7px;
}
.share-btns .btn:first-child {
	background-color: var(--primary-color);
    color: var(--theme-color);
}
.text-alert.text-center {
	padding-top: 25px;
	padding-bottom: 5px;
}
.text-alert p{
    margin-bottom: 0px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
.details-bar-left {
	padding-right: 40px;
	border-right: 1px solid rgba(112,112,112, .25);
}
.side-bar-right-area{
    padding-left: 40px;
    border-left: 1px solid rgba(112,112,112, .25);;
}
.single-select-food {
	padding: 18px 0px;
	border-bottom: 1px solid var(--theme-color);
}
.resturent-commets p{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--white-color);
    margin-bottom: 0px;
}
.resturent-details-page{
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0px;
}
.resturent-food-item-details-wrapper {
	padding: 0px 40px;
}
.single-dish{
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px rgba(0,0,0, .14);
    border-radius: 16px;
    margin-bottom: 30px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.more-details-btn {
	height: 18px;
	width: 18px;
	padding: 0px;
	line-height: 1;
	border: none;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 8px;
	top: 8px;
    background-color: var(--theme-color);
    font-size: 14px;
}




.dish-imag img {
	width: 120px;
	height: 134px;
	border-radius: 8px;
}
.dish-imag {
	margin-right: 12px;
}
.dish-details h4 {
	color: var(--black-color);
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 6px;
}
.dish-details p{
	font-size: var(--smaller-font-size);
    color: #9A9A9A;
    font-weight: var(--font-semi-bold);
}
.dish-details span.dish-price{
    font-size: var(--smaller-font-size);
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
}
.dish-details span.dish-price strong{
    font-weight: 900;
}
.dish-details {
	max-width: 251px;
}


.basket-header{
    padding-bottom: 30px;
    border-bottom: 1px solid #DBDBDB;
}
.basket-header h5{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--black-color);
    margin-bottom: 0px;
}
.empty-food{
    padding: 40px 0px 35px 0px;
    border-bottom: 1px solid #DBDBDB;
}
.empty-food img{
    margin-bottom: 10px;
}
.empty-food h6{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: #8C8C8C;
    margin-bottom: 0px;
}
.single-select-food {
	padding: 20px 0px;
	border-bottom: 1px solid var(--theme-color);
}
.single-select-food h4{
    margin-bottom: 8px;
}
.single-select-food h4 a{
    font-size: 20px;
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
.single-select-food p{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    color: #9A9A9A;
}
.food-price-details h6{
    font-size: var(--small-font-size);
    font-weight: 900;
    margin-bottom: 0px;
}
.food-count-area .nice-number button {
	background: transparent;
	border: none;
	font-weight: var(--font-semi-bold);
	color: #707070;
	font-size: 18px;
}
.food-count-area .nice-number input {
	border: none;
	font-size: 18px;
	font-weight: var(--font-semi-bold);
    color: #707070;
}
.totoal-cost-area{
    padding: 20px 0px;
    border-bottom: 1px solid #DBDBDB;
}
.totoal-cost-area ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #707070;
	font-weight: var(--font-semi-bold);
	padding: 3px 0px;
}
.totoal-cost-area ul li:last-child {
	font-weight: var(--font-bold);
    color: var(--black-color);
}
.additional-info textarea {
	height: 80px;
	padding: 10px 12px;
	border: none;
	border: 1px solid #B6B6B6;
	border-radius: 10px;
	resize: none;
    color: #C6C6C6;
}
.additional-info {
	padding-top: 20px;
}
.order--btn-area .btn {
	width: 100%;
	border-radius: 0px;
}
.order--btn-area{
    margin-top: 20px;
}
.resturent-logo img {
    width: 120px;
    height: 134px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.resturent-logo {
	margin-right: 40px;
}

.food-extra-single h6 {
	color: #707070;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	flex: 0 0 auto;
	width: 21%;
	min-width: 87px;
}
.food-extra {
	margin-left: 132px;
	margin-right: 75px;
	padding-top: 20px;
	border-top: 1px solid #DBDBDB;
}

.food-extra-content {
	flex: 0 0 auto;
	width: 73%;
}
.food-extra-content input[type="text"] {
	width: 100%;
	height: 36px;
	border-radius: 6px;
	border: none;
	border: 1px solid #DBDBDB;
	padding-left: 14px;
    font-weight: var(--font-semi-bold);
}
.food-extra-single {
	margin-bottom: 20px;
}
.single-custom-check-box label {
	font-size: 14px;
	font-weight: 600;
	color: #9A9A9A;
	padding-left: 21px;
	line-height: 1;
	margin-bottom: 8px;
    position: relative;
}
.single-custom-check-box input{
    display: none;
}
.single-custom-check-box label span{
    position: absolute;
    left: 0;
    top: 0;
    height: 13px;
    width: 13px;
    border: 1.3px solid #AFAFAF;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.single-custom-check-box input:checked ~ label span::after {
	position: absolute;
	left: 45%;
	top: 45%;
	transform: translate(-50%, -50%);
	height: 7px;
	width: 7px;
	content: "";
	border-radius: 2px;
	background-color: #AFAFAF;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.sow-more-extra{
    display: inline-block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    color: #9A9A9A;
    margin-bottom: 10px;
}
.sow-more-extra span {
	padding-left: 3px;
	padding-right: 7px;
	position: relative;
	top: 1px;
}
.sow-more-extra:hover{
    color: var(--theme-color);
}
.extra-counter {
	background-color: var(--primary-color);
	min-width: 73px;
	max-width: 80px;
	text-align: center;
	height: 27px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	margin-bottom: 20px;
}
.extra-counter .nice-number button {
	background: transparent;
	border: none;
    color: var(--theme-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-bold);
}
.extra-counter .nice-number input {
	background: transparent;
	border: none;
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
}
.order--btn .btn{
    width: 100%;
    height: 42px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* resturnt-details-page_End */
