/* fonts-here */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    /*===== Colors =====*/
    --theme-color: #798402;
    --primary-color: #E1EEDD;
    --secondary-color: #524748;
    --gray-color: #404040;
    --text-color: #9A9A9A;

    /* extra color */
    --white-color: #fff;
    --black-color: #000;
  
    /*===== Font and typography =====*/
    --body-font: 'Source Sans Pro', sans-serif;


    --biggest-font-size: 3.75rem;/*66px*/
    --h1-font-size: 2.75rem;/*44px*/
    --h2-font-size: 2.5rem;/*40px*/
    --h3-font-size: 2.375rem;/*38px*/
    --normal-font-size: 1.25rem;  /*20px*/
    --small-font-size: 1rem; /*16px*/
    --smaller-font-size: .875rem; /*14px*/
  
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

body{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: normal;
    color: var(--text-color);
    line-height: 1.3;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: var(--font-bold);
    line-height: 1.3;
    color: var(--theme-color);
}
p{
    margin: 0 0 15px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
label {
	color: var(--text-color);
	cursor: pointer;
	font-size: 14px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
*::-moz-placeholder {
	color: #B7B7B7;
}

*::placeholder {
	color: #B7B7B7;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
input:focus{
    outline: none;
}
.badge {
	background: var(--primary-color);
	font-size: 18px;
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
}
.badge.close-badge {
	background: #FFDFDE;
	color: #FC2018;
}

.container{
    max-width: 1450px;
}

.btn {
    padding: 12px 30px;
    background: var(--theme-color);
    border-radius: 6px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 1;
    border: none;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btn:hover{
    color: var(--theme-color);
    background-color: var(--primary-color);
}
.btn:focus{
    outline: none;
}

.owl-carousel .owl-nav div:hover{
    background-color: var(--primary-color);
    color: var(--theme-color);
}
.owl-carousel .owl-nav div {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.owl-carousel .owl-nav .owl-next{
    left: auto;
    right: 0px;
}

/* ==========default css end============ */


/* =========css class=========== */


/* header-area */
.header-area{
    height: 66px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
}

.logo-area a{
    display: inline-block;
}
.logo-area a h2{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: 0px;
    line-height: 1;
}


.delivery-area p{
    font-size: var(--small-font-size);
    color: var(--white-color);
    margin-bottom: 0px;
}
.delivery-area p strong{
    font-weight: var(--font-bold);
}
.delivery-area p span {
	margin: 0px 4px;
	font-size: var(--small-font-size);
}

.btn.login-btn{
    background-color: var(--white-color);
    color: var(--theme-color);  
}
.btn.login-btn span{
    margin-right: 8px;
}
.btn.login-btn:hover {
    background-color: var(--primary-color);
    color: var(--theme-color);
}

/* header-area */

/* banner-area */
.banner-area{
    min-height: 640px;
    background-color: var(--primary-color);
    padding: 84px 0px;
}

.banner-content-wrapper h1 {
	font-size: var(--biggest-font-size);
	margin-bottom: 0px;
}
.banner-content-wrapper p{
    font-size: 25px;
    color: var(--gray-color);
}
.banner-form-wrapper {
	max-width: 533px;
	background: #fff;
	border-radius: 6px;
	padding: 18px;
	margin-top: 34px;
}
.banner-form-btns a.btn{
    width: 117px;
    padding: 12px 0px;
}
.banner-form-btns a.btn span {
	position: relative;
	top: -3px;
	margin-right: 4px;
}
.banner-form-btns a.btn.banner-btn{
    width: 117px;
    background-color: var(--primary-color);
    color: var(--theme-color);
}
.banner-form-btns a.btn.banner-btn-transparent{
    background-color: transparent;
    color: var(--gray-color);
}
.banner-form-btns {
	padding-bottom: 18px;
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 18px;
}
.input-area-banner{
    flex: 0 0 auto;
    width: 70%;
    position: relative;
}
.input-area-banner input{
    width: 100%;
    height: 42px;
    border-radius: 6px;
    border: none;
    color: var(--theme-color);
    border: 1px solid #DBDBDB;
    padding-left: 40px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.input-area-banner span{
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--theme-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* banner-end */

/* offer-area */
.offer-items-wrapper{
    padding: 80px 0px;
}
.offer-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 9px;
}
.offet-text h1{
    font-size: 44px;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--white-color);
    line-height: 1;
}
.offet-text h1 small{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
.offet-text{
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 150px;
    min-height: 70px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 16px;
}
.dish-image {
	border-radius: 16px;
	overflow: hidden;
    margin-bottom: 16px;
}
.remainig-badge {
	background: var(--primary-color);
	padding: 5px 22px;
	border-radius: 6px;
	line-height: 1;
    color: var(--theme-color);
    font-size: 18px;
    font-weight: var(--font-semi-bold);
}
.offer-dish-info h6 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 13px;
}
/* offer-area end*/


/* how workd area */
.how-works-area{
    padding: 65px 0px;
    background-color: var(--primary-color);
}
.section-title h2 {
	margin-bottom: 0px;
}
.section-title {
	margin-bottom: 50px;
}
.works-icon {
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}
.works-icon img {
	max-height: 110px;
}
.works-content h6 {
	font-size: var(--normal-font-size);
	color: var(--gray-color);
	margin-bottom: 8px;
}
.works-content p {
    color: #959795;
}
.works-content {
	padding: 0px 12px;
}
/* how workd area end */

/* popular items-area */
.popular-items{
    padding: 78px 0px;
}
.popular-img img {
	max-height: 265px;
	max-width: 265px;
	border-radius: 16px;
	margin-bottom: 10px;
}
.popular-text h6 {
	font-size: 20px;
	font-weight: var(--font-semi-bold);
	margin-bottom: 6px;
    color: var(--black-color);
}
.popular-text p {
	color: var(--theme-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 6px;
}
.popular-text span.price{
    color: var(--black-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}
.popular-text p span{
    margin-right: 9px;
}
.btn.order-btn {
	width: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	margin-top: 12px;
}

.popular-items-slider-active .owl-nav div {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.popular-items-slider-active .owl-nav .owl-next{
    left: auto;
    right: -60px;
}

/* popular items-area_End */


/* featured-items-area */
.features-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 64px 8px;
}

.featured-item-img img {
	max-width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 16px;
	margin-bottom: 10px;
}
.shop-logo {
	height: 64px;
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0,0,0, .14);
	border-radius: 8px;
	margin-right: 15px;
}
.shop-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}   
.shop-text a {
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--theme-color);
	display: block;
	margin-bottom: 5px;
}
.shop-text p{
    font-size: 14px;
    color: #FED42D;
    margin-bottom: 0px;
    font-weight: var(--font-semi-bold);
}
.shop-text p span {
	margin-right: 4px;
}
.shop-info {
	margin-bottom: 16px;
}
.view-more-area{
    margin-top: 60px;
}
.btn.view-more-btn{
    border-radius: 0px;
    width: 170px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.btn.view-more-btn span{
    margin-left: 10px;
}
.btn.view-more-btn span {
	margin-left: 7px;
	font-size: 17px;
	position: relative;
	top: 1px;
}
/* featured-items-area_end */


/* search-area */

.search-food-area{
    padding: 78px 0px;
}
.area-title h2{
    margin-bottom: 0px;
}
.right-view-all a{
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    color: var(--theme-color);
}  
.right-view-all {
	flex: 0 0 auto;
	width: 15%;
}
.right-view-all a span{
   margin-left: 10px;
}   
.section-title-wrapper{
    margin-bottom: 66px;
}

.search-food-img {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 12px;
}
.search-food-img img{
    max-width: 216px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.search-text a{
    font-size: var(--normal-font-size);
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
}

.search-products-active.owl-carousel .owl-nav div{
    right: 52px;
    top: -104px;
    left: auto;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.search-products-active.owl-carousel .owl-nav .owl-next{
    right: 0;
    left: auto;
}


/* search-area_End */